.image_p {
  background-size: cover;
  background-position: center;
}

.category_article{
  margin-left: 0px;
}

.description_article{
  margin-left: -10px;
}

.titles_category_article{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
