.image_article {
  height: 220px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.category_article {
  margin-left: 0px;
}

// .description_article{
//   margin-left: -10px;
// }

.title_article {
  margin-bottom: 0px;
}

.desc {
  color: black;
}

.category_article {
  margin-bottom: 0px;
  color: black;
}

.titles_article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.price_article {
  color: rgb(48, 140, 124);
  margin-bottom: 15px;
}

.buttons_articles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.articles_button {
  width: 75%;
  border: 1px solid rgb(48, 140, 124);
}

.articles_select {
  height: 40px;
  border: 1px solid rgb(48, 140, 124);
  margin-right: 3px;
  margin-left: 3px;
}

.jauge_articles {
  margin-bottom: 15px;
}

.quantity_articles {
  margin-left: 0px;
  margin-bottom: 0px;
}