.container-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.card {
  border: none;
}

.container {
  width: 390px;
  border: none;
}

.image {
  background-size: cover;
  height: 180px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.text {
  color: rgba($color: #003531, $alpha: 1.0);
  font-size: 16px;
  width: 360px;
}

.title {
  color: rgba($color: #003531, $alpha: 1.0);
  font-size: 19px;
}
