.container-link {
  text-decoration: none;
  color: inherit;
  display: block;
}
.card {
  border: none;
}

.container {
  width: 390px;
  border: none;
}

.image {
  width: 100%;
  object-fit: cover;
  background-size: cover;
  height: 180px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.text {
  color: rgba($color: #003531, $alpha: 1.0);
  font-size: 16px;
  width: 360px;
}

.title {
  color: rgba($color: #003531, $alpha: 1.0);
  font-size: 19px;
  margin-bottom: 5px;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: #003531;
  border-radius: 50%;
  display: flex; /* Add flex display */
  align-items: center; /* Vertically center align items */
  justify-content: center; /* Horizontally center align items */
  margin-left: 340px;
}

.circle p {
  color: #fff;
  font-size: 16px;
  margin: 0; /* Reset margin to remove any default spacing */
}
