<% if @order%>
  <h2><%= @order.number %></h2>
<% elsif @users %>
  <h2><%= current_user.first_name %></h2>
  <p><%= current_user.last_name %></p>
  <p><%= current_user.delivery_address%></p>
<% else %>
<% end %>
