<h1>My cart</h1>

<% if @order.article_orders.count > 0 %>
    <%= render 'article_items' %>
    <p>Total : <%= @order.total %> </p>
<% else %>
    <p>Your cart is empty </p>
<% end %>

    <%= link_to "stores", stores_path %>