<div class="container justify-content-between align-items-start">
    <h1>My cart</h1>

    <% if @order.article_orders.count > 0 %>
        <%= render 'article_items' %>
    <% else %>
        <p>Your cart is empty </p>
    <% end %>

    <%= link_to "Stores", stores_path %> 
</div>