<div class="container">
  <div class="row">

    <div class="image_p" style="background-image: url('Mettre image article')">
    <div class="d-flex justify-content-between">
        <div class="border border-white rounded-circle fs-6">
          <%=link_to "Back", stores_path %>
        </div>
    </div>
</div>

<h1>Orders list </h1>

<% @orders.each do |order| %>
<%= order.number %>
<% end %>


    <!-- Mapping à décaller sur la show -->

    <div>

    </div>

    <-- bas de page -->
  </div>
</div>
