body,
html {
  height: 100%;
  background-color: white;
}


.btn_magic {
  width: 350px;
  height: 40px;
  bottom: 25px;
  margin: 0 auto;

  /* bottom_magic */

  background: linear-gradient(90.69deg, #2AAF97 27.66%, #2AAF4F 141.42%, rgba(42, 175, 151, 0) 146.04%);
  filter: drop-shadow(1px 4px 5px rgba(0, 0, 0, 0.25));
  border-radius: 5px;

}

.image_p {
  height: 200px;
  background-size: cover;
  margin: auto 0px;
}

.main {
  font-style: normal;
  font-weight: 700;
  color: #25B7A5;
}

.jauge_photo {
  width: 100%;
}

.main_grey {
  background-color: #e1dfdf;
}

.scroll {
  overflow-x: scroll;
  background-color: #e1dfdf;
}

.category {
  font-weight: 800;
  margin: 0px 6px;
}
